<h1><center>16th Feb Python Assignment</center></h1>

In [ ]:
'''
Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans: Databases are used to store and manage large amounts of information in a secure, organized, and efficient way.
SQL stands for Structured Query Language, and it is a language used to manage data in a relational database. A relational 
database is a database that is organized based on the relationships between tables.SQL databases use a schema to define the 
structure of the data, and SQL is used to query and manipulate the data.
NoSQL databases are non-relational databases that store data in a non-tabular form. NoSQL databases use various data models, 
such as key-value, document-oriented, column-oriented, and graph databases, to store and manage data.NoSQL databases are 
designed to be highly scalable and flexible, and they can handle large volumes of unstructured and semi-structured data. 
Unlike SQL databases, NoSQL databases don't use a schema to define the structure of the data, and they don't use SQL to query 
and manipulate the data.
'''

In [ ]:
'''
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans: DDL stands for Data Definition Language. It is a set of SQL commands used to create, modify, and delete database objects 
such as tables, indexes, views, and stored procedures.

Create: The CREATE command is used to create new database objects.
Eg: CREATE Table TEST(id int,name varchar(20));

DROP: The DROP command is used to delete existing database objects.
Eg: Drop table TEST;

ALTER: The ALTER command is used to modify the structure of existing database objects. 
Eg: ALTER TABLE TEST ADD COLUMN address VARCHAR(100);

TRUNCATE: The TRUNCATE command is used to delete all data from a table, but it does not delete the table itself.
Eg: TRUNCATE TABLE TEST;
'''

In [ ]:
'''
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans: DML stands for Data Manipulation Language. It is a set of SQL commands used to manipulate data stored in a database. 
DML commands include INSERT, UPDATE and DELETE.

INSERT: The INSERT command is used to insert new data into a table.
Eg: Insert table TEST values(1,"din");

UPDATE: The UPDATE command is used to modify existing data in a table.
Eg: Update Test SET name="lin" where id=1;

DELETE: The DELETE command is used to delete data from a table.
Eg: Delete from Test where id=1;
'''

In [ ]:
'''
Q4. What is DQL? Explain SELECT with an example.

Ans: DQL stands for Data Query Language. It is a subset of SQL used to retrieve data from a database. DQL commands include 
SELECT, WHERE, GROUP BY, HAVING, and ORDER BY.

SELECT: SELECT statement used to retrieve data from this table.
Eg: Select * from TEST;
'''

In [ ]:
'''
Q5. Explain Primary Key and Foreign Key.

Ans: 
Primary Key: A primary key is a column or a set of columns in a table that uniquely identifies each row in the table.
Eg: CREATE Table TEST(id int PRIMARY KEY,name varchar(20));

Foregin Key: A foreign key is a column or a set of columns in one table that refers to the primary key of another table.
Eg: CREATE Table SUBJECT(subject_id int PRIMARY KEY,subject_name varchar(20), student_id, 
FOREGIN KEY(student_id) REFERENCES TEST(id));
'''

In [ ]:
'''
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

CODE:
'''
import mysql.connector
my=mysql.connector.connect(host='localhost',user='abc',password='password')
mycursor=my.cursor()
mycursor.execute("Select * from TEST")
for i in mycursor:
    print(i)
my.close()
'''
cursor(): This method creates a cursor object that can be used to execute SQL statements and to fetch the results of the 
executed statements.

execute(): This method of the cursor object is used to execute an SQL statement. It takes the SQL statement as a parameter.
'''

In [ ]:
'''
Q7. Give the order of execution of SQL clauses in an SQL query.

Ans: 
1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.
'''